/* Next Sibling Selector */
.first-input + input {
  background-color: red;
}

.container div {
  width: 200px;
  height: 200px;
  background-color: green;
}

/* .container div:first-child {
  background-color: red;
} */

.container div:first-child,
.container div:last-child {
  background-color: red;
}

input[type="number"] {
  background-color: yellow;
}
